name: hello there

on:
  push:
    branches: [main]
  workflow_dispatch:
    branches: [main]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: run hello there
        run: echo "hello there"
